<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>cohama のページ</title>
<link href="/static/mystyle.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
</head>
<body>

<div id="container">
	<div id="header">
		cohama のページ
	</div>
	<div id="navigation">
		<ul>
			<li>
				{% block navigation %}
					Replace this
				{% endblock %}
			</li>
		<ul>
	</div>
	<div id="content">
		<br />
		{% block content %}
			Replace this
		{% endblock %}
	</div>
</div>

</body>

</html>